<%- include('../partials/header') %>

	<title>Change Password</title>
	<link rel="stylesheet" href="/stylesheets/form.css">

<%- include('../partials/body') %>

	<form action="/account/update_password/<%-email%>" style="top: 160px" method="post" onsubmit="return validation()">
		<div id="info">Change Password</div>
        <div>
			<label for="opassword" >Current Password</label><br>
			<input type="password" id="opassword" name="opassword" required>
		</div>
		<div>
			<label for="password" >New Password</label><br>
			<input type="password" id="password" name="password" minlength=5 required>
		</div>
		<div>
			<label for="cpassword" >Confirm New Password</label><br>
			<input type="password" id="cpassword" name="cpassword" required>
		</div>
		<div id="warn"><%- msg%></div>
		<div>
			<input type="submit" value="Change">
		</div>
    </form> 

    <script>

		document.getElementById("warn").style.display = "block";
		setTimeout(()=>{document.getElementById("warn").style.display="none"},3000);

		document.getElementById("list").innerHTML = "<a href='/account/<%-email%>'>Go to Account</a>";

		function validation(){
			const p = document.getElementById("password").value;
            const cp = document.getElementById("cpassword").value;
			if(p==cp)
				return true;
			else
			{	
				document.getElementById("warn").innerHTML = '*New Passwords do not match';
                document.getElementById("warn").style.display="block";
                setTimeout(()=>{document.getElementById("warn").style.display="none"},3000);
				return false;
			}
		}

	</script>

<%- include('../partials/footer') %>